body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: url("../images/huellas-bg.jpg") center no-repeat;
  color: #444422;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
}

header {
  top: 0%;
  height: 15%;
  width: 100%;

  background: #444422;
  color: #eeeedd;
}

header h1 {
  margin: 0;
  padding: 0.5em 2em;
}

main {
  max-height: 50vh;
  margin-bottom: 1em;
}

.card {
  display: block;
  width: 50%;
  height: 40%;
  position: relative;
  left: 25%;
}

img {
  max-width: 400px;
  max-height: 250px;
  margin: 0.5em;
}

h2 {
  margin: 0;
  padding: 0.5em;
}

.btn {
  display: inline-block;

  background: #eeeedd;
  color: #444422;
  font-size: 14px;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #444422;
  margin: 0.5em 0;
  border-radius: 5px;
}

.btn:hover {
  background: #444422;
  color: #eeeedd;
}

footer {
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 100%;

  background: #444422;
  color: #eeeedd;
}

footer-wrap {
  padding: 2em 1em;
}

footer a {
  text-decoration: none;
  color: #111109;
}

footer a:hover {
  color: #eeeedd;
}
